<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>2018 movies</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="ks-vue-fullpage.min.css"></link>
  <link rel="stylesheet" href="main.css"></link>
</head>
<body>
  <div id="app">
    <!-- our main component -->
    <ksvuefp :options="options" :sections="sections">
      <!-- our section component -->
      <ksvuefp-section v-for="(section,index) in sections" 
      :section="section" :key="section.bgColor" 
      :section-index="index" 
      :background-color="section.bgColor" 
      :background-image="'url('+ section.bgImg +')'">
        <transition name="fade">
          <h2 v-show="$ksvuefp.canAnimContent(index, true)"> 
            {{ section.content }}
          </h2>
        </transition>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-white text-right">2018個人評價最高的</h4>
            <h3 class="card-subtitle mb-2 text-white text-right">{{ section.type }}</h3>
            <h1 class="card-text text-white">
                {{section.name}}
            </h1>
            <h3 class="card-text text-white">
                {{section.title}}
            </h3>
            <div class="card-link">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star" :class="section.star"></span> 
                <span class="rank">
                    <img border="0" src="pics/imdb.png" width="24" height="14">  
                    <span class="text-white">{{section.imdb}}</span>
                    <span v-if="section.tomatoRating"> 
                        <img border="0" src="https://staticv2-4.rottentomatoes.com/static/images/icons/fresh-16.png" width="16" height="16">
                        <span class="text-white">{{section.tomatoRating}}</span>
                    </span> 
                </span>
            </div>
          </div>
        </div>    
      </ksvuefp-section>
    </ksvuefp>
  </div>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
  <script src="ks-vue-fullpage.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.2/velocity.min.js"></script>  
  <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="index.js"></script>

</body>
</html>